.nav-link {
    color: var(--mainWhite) !important;
    font-size: 1.3 rem;
    text-transform: capitalize;
  }
  .NavBar {
    background-color: black;
  }

  .buttonClick {
    text-transform: capitalize;
    font-size: 1.2rem;
    border: 0.05rem solid var(--lightBlue);
    border-color:  "var(--lightBlue)";
    border-radius: 0.5rem;
    color:  "var(--lightBlue)";
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    margin: 0.2rem 0.5rem 0.2rem 0;
    transition: all 0.5s ease-in-out;
  }
    .buttonClick:hover {
      background: "var(--lightBlue)";
    }
    :focus {
      outline: none;
    }

    .card {
        border-color: tranparent;
        transition: all 1s linear;
      }
      .card-footer {
        background: whitesmock;
        border-top: transparent;
        transition: all 1s linear;
      }

      .card:hover {
          border: 0.04rem solid rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
        }
        .card-footer {
          background: rgba(247, 247, 247);
        }
      .img-container {
        position: relative;
        overflow: hidden;
      }
      .card-img-top {
        transition: all 1s linear;
      }
      .img-container:hover .card-img-top {
        transform: scale(1.2);
      }
      .cart-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0.2rem 0.4rem;
        background: var(--lightBlue);
        color: var(--mainWhite);
        font-size: 1.4rem;
        border-radius: 0.5 rem 0 0 0;
        
        transform: translate(100%, 100%);
        transition: all 0.5s linear;
      }
      .img-container:hover .cart-btn {
        transform: translate(0, 0);
      }
      .cart-btn:hover {
        color: var(--mainBlue);
        cursor: pointer;
      }

      .modal{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;

      } 
       #modal {
        background: var(--mainWhite);
      }

      .logo {
        color: antiquewhite;
        font-weight: bold;
      }